VECDB_REST_URL=https://<host>/ords/<schema>/_/db-api/stable/vecdb/
VECDB_USERNAME=<vector-database-user>
VECDB_PASSWORD=<password>
VECDB_ACCESS_TOKEN=
VECDB_EMBED_MODEL=all_MiniLM_L12_v1
VECDB_RERANK_MODEL=
