SET TERMOUT ON
SET ECHO ON
WHENEVER OSERROR EXIT FAILURE
WHENEVER SQLERROR EXIT SQL.SQLCODE

CREATE USER LLUSER IDENTIFIED BY "${user_password}";

GRANT CREATE SESSION, CREATE TABLE, CREATE VIEW, CREATE PROCEDURE,
      CREATE SEQUENCE, CREATE TRIGGER, CREATE TYPE, CREATE MINING MODEL,
      CREATE SYNONYM, CREATE JOB, CREATE PROPERTY GRAPH TO LLUSER;
GRANT RESOURCE, OML_DEVELOPER, GRAPH_DEVELOPER TO LLUSER;
GRANT SPATIAL_AUTHOR to LLUSER;
ALTER USER LLUSER QUOTA UNLIMITED ON DATA;

GRANT EXECUTE ON DBMS_CLOUD TO LLUSER;
GRANT EXECUTE ON DBMS_CLOUD_AI TO LLUSER;
GRANT EXECUTE ON DBMS_CLOUD_AI_AGENT TO LLUSER;
GRANT EXECUTE ON DBMS_DATA_MINING TO LLUSER;
GRANT EXECUTE ON DBMS_VECTOR TO LLUSER;
GRANT EXECUTE ON MDSYS.SDO_GEOM TO LLUSER;
GRANT EXECUTE ON MDSYS.SDO_UTIL TO LLUSER;
GRANT EXECUTE ON MDSYS.SDO_CS TO LLUSER;
GRANT READ, WRITE ON DIRECTORY DATA_PUMP_DIR TO LLUSER;
ALTER USER LLUSER GRANT CONNECT THROUGH "GRAPH$PROXY_USER";
ALTER USER LLUSER GRANT CONNECT THROUGH "SPATIAL$PROXY_USER";

BEGIN
  ORDS_ADMIN.ENABLE_SCHEMA(
    p_enabled        => TRUE,
    p_schema         => 'LLUSER',
    p_url_mapping_type => 'BASE_PATH',
    p_auto_rest_auth => TRUE
  );
  DBMS_CLOUD_ADMIN.ENABLE_RESOURCE_PRINCIPAL(username => 'LLUSER');
END;
/

-- Load the model while connected as LLUSER so LLUSER owns it.
CONNECT LLUSER/"${user_password}"@ATP${res_id}_high

BEGIN
    DBMS_CLOUD.GET_OBJECT(
      object_uri => 'https://c4u04.objectstorage.us-ashburn-1.oci.customer-oci.com/p/EcTjWk2IuZPZeNnD_fYMcgUhdNDIDA6rt9gaFj_WZMiL7VvxPBNMY60837hu5hga/n/c4u04/b/livelabsfiles/o/labfiles/all_MiniLM_L12_v2.onnx',
      directory_name => 'DATA_PUMP_DIR',
      file_name => 'all_MiniLM_L12_v2.onnx'
    );
END;
/

BEGIN
    DBMS_VECTOR.LOAD_ONNX_MODEL('DATA_PUMP_DIR', 'all_MiniLM_L12_v2.onnx', 'ALL_MINILM_L12_V2');
  END;
/

EXIT;
